.body-class{
    background-color: rgb(194, 228, 227);
}

.container {
    background-color: rgb(248, 249, 250);
}

/*-------------*/

/*Header & Navbar*/

.header-navbar{
    margin: 1rem;
    color: rgb(69, 130, 128);
}

.header-navbar__annouce{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-collapse{
    justify-content:center;
    border: 1px solid rgb(69, 130, 128);;
    border-radius: 10px;
}

.navbar-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

/*Icons*/
.fab {
    color: rgb(69, 130, 128);
}

.icons-socialmedia{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/*Quienes Somos*/

#QuienesSomos {
    height: 500px;
}

.section-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: rgb(69, 130, 128);
}

.container-QS { 
    width: 100%;  
    margin-top: 50px; 
}

.col-4QS { 
    float: left;  
    width: 30.8%; 
    margin-right: 3.8%; 
}

.last { 
    margin-right: 0; 
}

.pP, .sP, .tP {
    text-align: left;
}

.cP, .qP {
    text-align: right;
}

.cPheader, .qPheader {
    text-align: right;
}
.img-ceo {
    display: flex;
    justify-content: center;
}

/*Footer*/

.ubicacion {
    text-align: right;
}