/*Images*/
.images-carousel-products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.images-carousel-products__image{
    padding-right: 0.3rem;
}

.img-fluid:hover{
    cursor: pointer;
}

/*Detalle*/

.btn-buy{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 3.5rem;
}

.detalle {
    margin-top: 1rem;
}

/*Talles*/

.ul-sizes{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.ul-sizes__li{
    list-style: none;
    padding: 0.3rem 0.75rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid rgb(237, 118, 108);
}

/*Colores*/

.ul-colours{
    display: flex;
    justify-content: flex-start;

}
.ul-colours__li{
    list-style: none;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 100%;
    border: 2px solid rgb(69, 130, 128);
    background-color: rgb(69, 130, 128);;
}

/*Colores*/
.btn-backList {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 3.5rem;
}

/*Buttons*/

.btn-primary{
    background-color: rgb(255, 182, 0);
    border-color: white;
}

.btn-primary:hover{
    background-color: rgb(237, 118, 108);
    border-color: rgb(255, 182, 0);
    color: white;

}

.btn-buy__a{
    text-decoration: none;
    color: white;
}

.btn-buy__a:hover{
    color: white;
}