*{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.body-class{
    background-color: rgb(237, 118, 108);
}

.container {
    background-color: rgb(255, 255, 255);
}

.row{
    background-color: rgb(255, 255, 255);
}

/*-------------*/

/*Header & Navbar*/

.header-navbar{
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 182, 0);
    margin: 1rem 0rem;
}

.header-navbar__annouce{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(237, 118, 108);
    text-align: center;
    font-size: 1.125rem;
}

.navbar-nav{
    padding-left: 0;
}

.navbar-ul{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-flow: column;
}

.nav-item{
    background-color: rgb(237, 118, 108);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-item:hover{
    background-color: rgb(255, 182, 0);
}

.nav-link__collapse{
    display: flex;
    justify-content: center;
}

.img-logo{
    max-width: 100px;
}

/*Icons*/
.fab {
    color: rgb(255, 182, 0);
}

.icons-socialmedia{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/*Contactanos*/

.datos-hara{
    height: 100%;
}
#Contactanos {
    /* height: 700px; */
    margin-top: 50px;
}

.containerContacto {
    width: 100%;
    margin-top: 60px;
    /* height: 400px; */
}

/* .texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 20px;
} */

.iconos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ubicacion {
    /* margin-top: 500px; */
    display: flex;
    flex-direction: column-reverse;
}

.formulario {
    flex-direction: column;
    margin-top: 10px;
}

.sectionCtitle {
    color: rgb(69, 130, 128);
    display: flex;
    justify-content: center;
}

.phoneContactIcon, .whatsappContactIcon, .mailContactIcon  {
    width: 20%;
    /* margin-left: 250px; */
}

input {
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    display: flex;
    width: 100%;
}
  
label {
    display: flex;
    margin-bottom: 0.5rem;
    padding-top: 10px;
}
  
textarea {
    height: 200px;
    padding: 20px 20px;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}


.texto__a-contactos{
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

/*Cambios que se va a aplicar hasta un width máximo de 992px*/
@media (max-width:992px) {

    .texto__a-contactos{
        display: flex;
        justify-content: center;
        margin-right: 0rem;
        margin-top: 1rem;

    }

    #Contactanos {
        margin-top: 0;
    }
    
    .containerContacto {
        width: 100%;
        margin-top: 0;
    }
    
}