/*Testing borders*/
/* .row {
    border: 1px solid black ;
}

.container {
    border: 1px solid black ;
}

.col {
    border: 1px solid black ;
}

.col-12 {
    border: 1px solid black ;
} */

.body-class{
    background-color: rgb(194, 228, 227);
}

.container {
    background-color: rgb(248, 249, 250);
}

/*-------------*/

/*Header & Navbar*/

.header-navbar{
    margin: 1rem;
    color: rgb(69, 130, 128);
}

.header-navbar__annouce{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-collapse{
    justify-content:center;
    border: 1px solid rgb(69, 130, 128);;
    border-radius: 10px;
}

.navbar-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

/*Icons*/
.fab {
    color: rgb(69, 130, 128);
}

.icons-socialmedia{
    display: flex;
    justify-content:space-around;
    align-items: center;
}



/*Aside*/

.aside-widget {
    /* padding: 1rem 1rem 0rem 0rem; */
    margin: 0rem 1rem 1rem 0rem;
}
.aside-img{
    max-width: 100%;
    height: auto;
}

.aside-a__radio-nova{
    text-decoration: none;
    color: rgb(69, 130, 128);
    font-size: 1rem;
}


/*Home*/


/*Quienes Somos*/

.section-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    color: rgb(69, 130, 128);

}

.container-QS { 
    width: 100%;  
    margin-top: 50px; 
}

.col-3 { 
    float: left;  
    width: 30.8%; 
    margin-right: 3.8%; 
}

.last { 
    margin-right: 0; 
}

.pP, .sP {
    text-align: center;
}

.img-ceo {
    display: flex;
    justify-content: center;
}

/*Contactanos*/

#Contactanos {
    height: 400px;
    margin-top: 400px;
}

.containerContacto {
    width: 100%;
    margin-top: 60px;
    flex-wrap: wrap;
}

.rowC1 {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.rowC2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.col-3C {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 20%;
}

.sectionCtitle {
    color: rgb(69, 130, 128);
    display: flex;
    justify-content: center;
}

.facebookContactIcon {
    width: 20%;
}

.instagramContactIcon {
    width: 20%;
}

.whatsappContactIcon {
    width: 20%;
}

.mailContactIcon {
    width: 20%;
}

.ubicacion {
    margin-top: 80px;
    text-align: right;
}

form input {
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px 0;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
}
  
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
  
form textarea {
    padding: 70px 20px;
    font-size: 14px;
    margin: 30px 0;
    border: 1px solid black;
    font-family: "Montserrat", sans-serif;
}


/*--Footer--*/
.footer-container{
    background-color: rgb(248, 249, 250);
    margin-top: 500px;
}

.footer-p{
    text-align: center;
    font-weight: 600;
    padding-bottom: 1rem;
}


/* CARD*/

