*{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.body-class{
    background-color: rgb(237, 118, 108);
}

.container {
    background-color: rgb(255, 255, 255);
}

.row{
    background-color: rgb(255, 255, 255);
}

/*-------------*/

/*Header & Navbar*/

.header-navbar{
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 182, 0);
    margin: 1rem 0rem;
}

.header-navbar__annouce{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(237, 118, 108);
    text-align: center;
    font-size: 1.125rem;
}

.navbar-nav{
    padding-left: 0;
}

.navbar-ul{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-flow: column;
}

.nav-item{
    background-color: rgb(237, 118, 108);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-item:hover{
    background-color: rgb(255, 182, 0);
}

.nav-link__collapse{
    display: flex;
    justify-content: center;
}

.img-logo{
    max-width: 100px;
}

/*Icons*/
.fab {
    color: rgb(255, 182, 0);
}

.icons-socialmedia{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/* CARD*/

.cardsContainer {
    margin-top: 50px;
}

.cards-container {
    margin-top: 30px;
}

.card {
    margin-bottom: 30px;
}